@{
        ViewData["Title"] = "Home Page";
    }


@*<head>
    <meta charset="utf-8" />
    <style>
        main {
            border-width: 6.5px;
            border-color: white;
            border-style: solid;
        }

        h1, h2 {
            color: white;
        }

        body {
            background-color: deepskyblue;
        }
    </style>
</head>*@

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h2 class="display-4">Here you reserve plane tickets fast and easy!</h2>
    <img scr="https://cdn.cnn.com/cnnnext/dam/assets/201221165522-boeing-737-crisis---737-8---boeing-full-169.jpg"
         width="625" height="500" />




    @*<div class="text-center">
        <img scr="https://cdn.cnn.com/cnnnext/dam/assets/201221165522-boeing-737-crisis---737-8---boeing-full-169.jpg"
             width="625" height="500" />
    </div>*@
</div>

