@*@{
            ViewData["Title"] = "Home Page";
    }*@

    <style>
            main {
                border-width: 6.5px;
                border-color: white;
                border-style: solid;
            }

            h1, h3 {
                color: white;
            }

            body {
                background-color: deepskyblue;
            }
    </style>


    @*<div class="text-center">
        <h1 class="display-4">Welcome!</h1>
        <h3 class="display-4">Here you reserve plane tickets fast and easy and travel all around the world!</h3>

        <p>   <img scr="https://cdn.cnn.com/cnnnext/dam/assets/201221165522-boeing-737-crisis---737-8---boeing-full-169.jpg" alt="plane" width="625" height="500" />   </p>





    </div>*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h3 class="display-4">Here you reserve plane tickets fast and easy and travel all around the world!</h3>
    <p>  <img src="https://e3.365dm.com/21/07/1600x900/skynews-boeing-737-plane_5435020.jpg?20210702173340" alt="Plane" width="800" height="600"> </p>
</div>
