@{
}
<div class="text-center">
<h1>
    For Us
</h1>
<h3>
    Здравейте, при нас можете да намерите най-евтините самолетни билети. Можете да резервирате от всеки край на света и да летите до другия. При нас няма ограничения, резервирайте билет с няколко клика и се насладете на пътуването си.
    <p class="display-4">
        <img src="https://images.pexels.com/photos/875858/pexels-photo-875858.png?cs=srgb&dl=pexels-jo%C3%A3o-jesus-875858.jpg&fm=jpg" width="800" height="600" />
    </p>
</h3>
    
    </div>
<style>
    body{
        background-color: deepskyblue;
    }
    main{
        border-width: 6.5px;
        border-color: white;
        border-style: solid;
    }
    h1, h3{
        color: white;
    }
</style>
