@model PlaneTicketsApp.Models.OrderCreateVM
<form asp-controller="Order" asp-action="Create" method="post">
    <div class="d-flex align-items-center">
        <label class="font-weight-bold text-left mr-1" asp-for="TicketNumber">Tickets:</label>
        <div class="mr-1">
            <input class="form-control" min="1" asp-for="TicketNumber" />
            <span asp-validation-for="TicketNumber" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-danger">Reserve</button>
    </div>
    <input type="hidden" asp-for="FlightId" value="@Model.FlightId">
</form>
